Repository be15-six-my-cat/be15-4th-sixmycat-catchy-BE, pull requests merged in 2025-05, with the labels that each got.

#3 Create pr-review-notify.yml
  .github/workflows/pr-review-notify.yml
Labels: feat

#4 pr request test
  test
Labels: feat

#135 feat: redis 연결
  .github/workflows/pr-ci.yml
  build.gradle
  src/main/java/com/sixmycat/catchy/common/auth/domain/RefreshToken.java
  src/main/java/com/sixmycat/catchy/config/RedisConfig.java
  src/main/resources/application.yaml
  src/test/java/com/sixmycat/catchy/common/auth/RedisRefreshTokenTest.java
Labels: feat

#137 chore: CAT-176 PR 템플릿 작성
  .github/pull_request_template.md
Labels: chore, docs

#136 [BE] CAT-98 피드 등록 기능 구현
  build.gradle
  src/main/java/com/sixmycat/catchy/common/s3/S3Uploader.java
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/CommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedCommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedImageController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/dto/request/CreateRequest.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/dto/request/FeedCreateRequest.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/CommandService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedImageService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedImageServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/aggregate/Entity_.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/aggregate/Feed.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/aggregate/FeedImage.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/repository/EntityRepository
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/repository/FeedRepository.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/service/FeedDomainService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/service/FeedDomainServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/infrastructure.repository/JpaFeedRepository.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/infrastructure.repository/JpaRepository
  src/main/resources/application.yaml
  src/test/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImplTest.java
Labels: feat

#138 [BE] CAT-96 피드 수정 기능 구현
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedCommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/dto/request/FeedUpdateRequest.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/aggregate/Feed.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/repository/FeedRepository.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/service/FeedDomainService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/service/FeedDomainServiceImpl.java
  src/test/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImplTest.java
Labels: feat

#139 [BE] CAT-103 피드 삭제 기능 구현
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedCommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/aggregate/Feed.java
  src/test/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImplTest.java
Labels: feat

#140 [BE] CAT-95 피드 상세 조회 구현
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/EntityQueryController
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/EntityDTO
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/AuthorInfo.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/CommentPreview.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/FeedBaseInfo.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/FeedDetailResponse.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/mapper/EntityMapper.txt
  src/main/java/com/sixmycat/catchy/feature/feed/query/mapper/FeedQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/EntityQueryService.txt
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryService.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/mappers/feed/FeedQueryMapper.xml
  src/test/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImplTest.java
Labels: feat

#141 [Be] Cat-80-be-네이버-회원가입-로그인-기능-구현
  build.gradle
  src/main/java/com/sixmycat/catchy/config/OAuth2SuccessHandler.java
  src/main/java/com/sixmycat/catchy/config/RedisConfig.java
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/request/ExtraSignupRequest.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/response/SocialLoginResponse.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/OAuth2AuthenticationService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/OAuth2AuthenticationServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/aggregate/RefreshToken.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/aggregate/TempMember.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/JwtTokenDomainService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/JwtTokenDomainServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/OAuth2UserInfoExtractor.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/OAuth2UserInfoExtractorImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/TempMemberRedisService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/TempMemberRedisServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/controller/MemberAuthController.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/dto/request/CreateRequest.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/dto/response/CommandResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/dto/response/TokenResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/CommandService.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberAuthServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberService.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/aggregate/Entity_.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/aggregate/Member.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/EntityRepository
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/MemberRepository.java
  src/main/java/com/sixmycat/catchy/feature/member/query/controller/EntityQueryController
  src/main/java/com/sixmycat/catchy/feature/member/query/service/EntityQueryService.txt
  src/main/java/com/sixmycat/catchy/security/handler/RestAuthenticationEntryPoint.java
  src/main/java/com/sixmycat/catchy/security/jwt/JwtTokenProvider.java
  src/main/resources/application.yaml
  src/main/resources/static/login.html
  src/main/resources/static/signup-extra.html
  src/main/resources/static/signup.html
  src/main/resources/static/token.html
  src/test/java/com/sixmycat/catchy/common/auth/RedisRefreshTokenTest.java
Labels: feat

#148 [BE] Cat 85 be 로그아웃 기능 구현
  build.gradle
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
  src/test/java/com/sixmycat/catchy/feature/auth/RedisRefreshTokenTest.java
  src/test/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthControllerTest.java
Labels: feat, chore

#146 [BE] CAT-91 피드 목록 조회 기능 구현
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/AuthorInfo.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/dto/response/FeedBaseInfo.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/mapper/FeedQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryService.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImpl.java
  src/main/resources/mappers/feed/FeedQueryMapper.xml
  src/test/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImplTest.java
Labels: feat

#161 fix: 병합 문제 해결
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
Labels: bug

#157 feat: Cat 186 be 토큰 쿠키로 관리
  src/main/java/com/sixmycat/catchy/config/OAuth2SuccessHandler.java
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/response/SocialLoginResponse.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/OAuth2AuthenticationService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/OAuth2AuthenticationServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/JwtTokenDomainService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/JwtTokenDomainServiceImpl.java
  src/main/resources/static/token.html
Labels: feat

#173 feat: 회원가입 할 때 등록한 이미지를 s3를 통해 저장
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/request/ExtraSignupRequest.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/aggregate/TempMember.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/domain/service/OAuth2UserInfoExtractorImpl.java
  src/main/resources/application.yml
  src/main/resources/static/signup-extra.html
Labels: feat

#175 refactor: 토큰 재발급 기능 수정
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/response/SocialLoginResponse.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/dto/response/SocialLoginResultResponse.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandService.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
Labels: refactor

#177 [BE] CAT-201 피드 등록 테스트 코드 수정
  src/test/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedCommandServiceImplTest.java
Labels: fix

#179 [BE] CAT-199 좋아요한 피드 목록 조회
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/mapper/FeedQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryService.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImpl.java
  src/main/resources/mappers/feed/FeedQueryMapper.xml
Labels: feat

#181 [BE] CAT-200 좋아요한 쭈르 목록 조회
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/dto/response/JjureSummaryResponse.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/mapper/JjureQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryService.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryServiceImpl.java
  src/main/resources/mappers/jjure/JjureQueryMapper.xml
Labels: feat

#182 [BE] CAT-111 본인 쭈르 목록 조회 기능 구현
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/mapper/JjureQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryService.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryServiceImpl.java
  src/main/resources/mappers/jjure/JjureQueryMapper.xml
Labels: feat

#185 [BE] CAT-206 좋아요 좋아요 취소 기능 구현
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedInternalService.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/service/FeedInternalServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/domain/repository/FeedRepository.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/service/JjureInternalService.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/service/JjureInternalServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/domain/repository/JjureRepository.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/controller/CommandController.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/controller/LikeCommandController.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/dto/request/CreateRequest.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/dto/request/LikeRequest.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/service/CommandService.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/service/LikeCommandService.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/service/LikeCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/like/command/domain/aggregate/Entity_.java
  src/main/java/com/sixmycat/catchy/feature/like/command/domain/aggregate/Like.java
  src/main/java/com/sixmycat/catchy/feature/like/command/domain/repository/EntityRepository
  src/main/java/com/sixmycat/catchy/feature/like/command/domain/repository/LikeRepository.java
  src/main/java/com/sixmycat/catchy/feature/like/command/infrastructure.repository/JpaRepository
Labels: feat

#184 [BE] Cat-101 타회원 프로필 조회
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/controller/ProfileCommandController.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/dto/response/UpdateProfileResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberCommandService.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/aggregate/Cat.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/aggregate/Follow.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/aggregate/Member.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/CatRepository.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/FollowRepository.java
  src/main/java/com/sixmycat/catchy/feature/member/query/controller/ProfileQueryController.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/BadgeResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/Badges.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/CatResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/FeedResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/FeedSummary.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/FollowResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/MemberResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/dto/response/MyProfileResponse.java
  src/main/java/com/sixmycat/catchy/feature/member/query/mapper/ProfileMapper.java
  src/main/java/com/sixmycat/catchy/feature/member/query/service/ProfileQueryService.java
  src/main/java/com/sixmycat/catchy/feature/member/query/service/ProfileQueryServiceImpl.java
  src/main/resources/mappers/member/ProfileMapper.xml
  src/test/java/com/sixmycat/catchy/feature/member/MemberCommandServiceTest.java
  src/test/java/com/sixmycat/catchy/feature/member/ProfileQueryServiceTest.java
Labels: feat

#188 feat: 회원가입 시 액세스 토큰 프론트로 전달
  src/main/java/com/sixmycat/catchy/config/OAuth2SuccessHandler.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/OAuth2AuthenticationServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/MemberRepository.java
Labels: feat

#186 feat: Cat 214 be 썸네일 생성
  src/main/java/com/sixmycat/catchy/common/s3/S3Uploader.java
  src/main/java/com/sixmycat/catchy/exception/ErrorCode.java
  src/main/java/com/sixmycat/catchy/feature/game/command/application/controller/GameCommandController.java
  src/main/java/com/sixmycat/catchy/feature/game/query/dto/RankerDto.java
  src/main/java/com/sixmycat/catchy/feature/game/query/service/GameQueryServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/controller/JjureCommandController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/dto/request/JjureUploadRequest.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/service/JjureService.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/service/JjureServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/domain/aggregate/Jjure.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
  src/main/resources/mappers/game/GameQueryMapper.xml
Labels: feat

#189 Cat 225 be 피드 쭈르 좋아요 도메인 코드 수정
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedCommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/command/application/controller/FeedCommentCommandController.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/controller/JjureCommentCommandController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
  src/main/java/com/sixmycat/catchy/feature/like/command/application/controller/LikeCommandController.java
  src/main/resources/mappers/feed/FeedQueryMapper.xml
  src/main/resources/mappers/jjure/JjureQueryMapper.xml
Labels: fix

#193 Cat 231 be member id로 작성한 피드 쭈르 조회 api
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/mapper/FeedQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryService.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/mapper/JjureQueryMapper.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryService.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryServiceImpl.java
  src/main/resources/mappers/feed/FeedQueryMapper.xml
  src/main/resources/mappers/jjure/JjureQueryMapper.xml
Labels: feat

#194 feat: 회원가입 후 바로 로그인 되도록 수정
  src/main/java/com/sixmycat/catchy/common/utils/NicknameValidator.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/controller/AuthController.java
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
Labels: feat, fix

#196 fix: 회원가입 후 로그인 시 레디스에 토큰 저장
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
Labels: fix

#199 feat: 팔로우 취소 기능 다시 구현
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/controller/FollowCommandController.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/service/FollowService.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/service/FollowServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/domain/aggregate/Follow.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/domain/repository/FollowRepository.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/dto/request/JjureUpdateRequest.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/application/service/JjureServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/command/domain/aggregate/Jjure.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/controller/JjureQueryController.java
Labels: feat

#198 fix: 피드 리스트 비회원이어도 조회 가능하게 수정
  src/main/java/com/sixmycat/catchy/config/SecurityConfig.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/controller/FeedQueryController.java
Labels: fix

#200 feat: 나를 팔로워하는 회원들 삭제 api 추가
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/controller/FollowCommandController.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/service/FollowService.java
  src/main/java/com/sixmycat/catchy/feature/follow/command/application/service/FollowServiceImpl.java
Labels: feat

#202 Cat 250 be 피드 목록조회 쭈르 목록 조회 백엔드 코드 수정
  src/main/java/com/sixmycat/catchy/common/dto/PageResponse.java
  src/main/java/com/sixmycat/catchy/feature/feed/query/service/FeedQueryServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/jjure/query/service/JjureQueryServiceImpl.java
Labels: bug, fix

#203 [BE] Cat-245 프로필 수정 페이지 코드 수정
  src/main/java/com/sixmycat/catchy/feature/member/command/application/controller/ProfileCommandController.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberCommandService.java
  src/main/java/com/sixmycat/catchy/feature/member/command/application/service/MemberCommandServiceImpl.java
  src/test/java/com/sixmycat/catchy/feature/member/MemberCommandServiceTest.java
Labels: feat

#205 feat: 타회원 프로필 조회 코드 수정
  src/main/java/com/sixmycat/catchy/feature/member/query/controller/ProfileQueryController.java
  src/main/java/com/sixmycat/catchy/feature/member/query/mapper/ProfileMapper.java
  src/main/java/com/sixmycat/catchy/feature/member/query/service/ProfileQueryService.java
  src/main/java/com/sixmycat/catchy/feature/member/query/service/ProfileQueryServiceImpl.java
  src/main/resources/mappers/member/ProfileMapper.xml
Labels: refactor

#214 fix: 탈퇴한 유저의 닉네임 재사용 불가
  src/main/java/com/sixmycat/catchy/feature/auth/command/application/service/AuthCommandServiceImpl.java
  src/main/java/com/sixmycat/catchy/feature/member/command/domain/repository/MemberRepository.java
Labels: fix
